.cart-box{
   max-height: 75vh !important;
}

.checkout{
    border: none !important;
    font-size: 12px !important;
    background-color: #eb3b5a !important;
    color: #fff !important;
    padding: 10px 20px !important;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
}
h6{
    font-size:  13px !important;
    color: #808e9b !important;
}

.cart-img{
    width: 50px !important;
}
.fa-trash{
    color: #eb3b5a !important;
    cursor: pointer !important;
}
tr th{
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #808e9b !important;
    text-align: center !important;
}
tr td{
    text-align: center !important;
}

  button {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }
  label{
    font-size: 10px !important;
    line-height: 10px !important;
  }
  .pay-btn{
    padding: 2px !important;
    color: #000 !important;
    border: none !important;
    background-color: #eb3b5a !important;
    font-size: 14px !important;
    border-radius: 5px !important;
  }


  .btn-step{
    background-color: #000 !important;
    color: #fff !important;
  }
  
  p{
    text-align: justify;
    font-size: 10px !important;
    line-height: 4px !important;
  }

  
.order-img{
  width: 70px;
}
.fa-circle-check{
  color:#4cd137 !important;

}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4 !important;
  }
  
.loadimg{
    width: 80px !important;
}
  .btn-close{
    background-color: #000 !important;
    padding: 5px !important;
    color: #fff !important;
  }

  .checkout-contain{
    width: 100% !important;
    min-height: 100vh !important;
  }

  @media only screen  and (max-width: 568px) {
    
    tr th{
      font-size: 6px !important;
      font-weight: 500 !important;
      color: #808e9b !important;
      text-align: center !important;
  }
  tr td{
      text-align: center !important;
      font-size: 8px !important;

  }
h5{
  font-size: 12px !important;
}
h6{
  font-size: 10px !important;
}
.pay-btn{
  color: #000 !important;
  border: none !important;
  background-color: #eb3b5a !important;
  font-size: 10px !important;
  border-radius: 5px !important;
}

button {
  margin: 5px;
  padding:8px !important;
  cursor: pointer;
}
input,textarea{
  font-size: 10px !important;
}
p{
  text-align: justify;
  font-size: 6px !important;
  line-height: 4px !important;
}

.alert{
  font-size: 8px !important;
}

.checkout-contain{
  width: 100% !important;
  min-height: 0 !important;
}
.cart-box{
  width: 100% !important;
  min-height: 40vh !important;
}

  }

.close{
  float:right;
  position:absolute !important;
  top: 0 !important;
  left:1;
  background-color: #fff !important;
  padding: 5px !important;
  color: #000 !important;
  border-radius: 40px !important;
  font-size: 10x !important;
  border: none !important;
  background-color: transparent !important;
  color: #000 !important;
}
h4{
  background-color: none !important;
  color: #000 !important;
}

input:focus{
  box-shadow: none !important;
  border: 1px solid grey !important;
}
input:hover{
  box-shadow: none !important;
  border: 1px solid grey !important;

}

textarea:focus{
  box-shadow: none !important;
  border: 1px solid grey !important;
}
textarea:hover{
  box-shadow: none !important;
  border: 1px solid grey !important;

}
.accordion-button:hover{
  box-shadow: none !important;
  border:none !important;
}
.accordion-button:focus{
  box-shadow: none !important;
  border:none !important;
}

.stepper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
}

.step-number {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: lightgray;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.step-label {
  margin-left: 10px;
}

.step-line {
  width: 50px;
  height: 4px;
  background-color: lightgray;
  position: absolute;
  left: 40px;
  top: 18px;
}

.step.active .step-number {
  background-color: #4cd137;
  color: white;
}

.step.completed .step-number {
  background-color: black;
  color: white;
}

.step.completed .step-line {
  background-color: black;
}

.buttons {
  margin-top: 20px;
}

.btn45 {
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
}

.btn45:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
.btn45:not(:disabled) {
  background-color: #4cd137;
  color: white;
}



.cursor{
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
animation: 
  typewriter 5s steps(50) 1s 1 normal both, 
  blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
from { width: 0; }
to { width: 100%; }
}
@keyframes blinkingCursor{
from { border-right-color: rgba(255,255,255,.75); }
to { border-right-color: transparent; }
}


.info-Title{
  color: #000 !important;
  font-size: 18px !important;
  letter-spacing: 1px !important;
  margin-bottom: 20x !important;
}
.info-Title span{
  color:#4cd137 !important;
  font-size: 18px !important;
  letter-spacing: 1px !important;
  margin-bottom: 20x !important;
}

.fa-xmark{
  font-size: 25px !important;
  color: gray !important;
  cursor: pointer;
  padding: 0px 10px !important;
}