<div class="container-fluid " style="background-color:#576574;">
    <div class="row checkout-contain d-flex align-items-center justify-content-center" >
        <div class="col-md-8 order-box shadow">
            <div class="row">
                <div class="col-xs-12 col-md-8 cart-box p-sm-2 px-md-3 py-md-4" style="background-color:#ffff;">
                  <div class="text-contain d-flex align-items-center justify-content-between py-2 ">
                    <h5 class="xs-mb-2">Shopping Cart</h5>
                    <h5 class="xs-mb-2">Items ({{productslength}})</h5> 
                  </div>

                  <div class="table-contain p-md-5 p-sm-2">
                      <table class="table table-responsive">
                        <tr>
                          <th>PRODUCT IMAGE</th>
                          <th>PRODUCT NAME</th>
                          <th>RATE</th>
                          <th>QUANTITY</th>
                          <th>PRICE</th>
                          <th>REMOVE</th>
                        </tr>
                        <tr  *ngFor="let item of CartDetailsDet;let i = index ">
                            <td> <img [src]="item.ProductImage" class="img-fluid cart-img" alt=""></td>
                            <td>{{item.ProductName}}</td>
                            <td>{{item.Rate}}</td>
                            <td>{{item.CartQuantity}}</td>
                            <td>₹ {{item.Price}}</td>
                            <td><i class="fa-solid fa-trash" (click)="removeFromCart(i)"></i></td>
                        </tr>
                      </table>
                      <div *ngIf="productslength === 0" class="alert alert-warning alert-dismissible fade show " role="alert">
                        Your cart is empty ! <a href="#" class="alert-link mx-2" style="font-size: 12px;font-weight: 400;text-transform: capitalize;">go to home page</a>
                      </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12  cart-box py-4 px-3" style="background-color:#f0f1f3;">
                   <h5 class="mb-3">Order Summary</h5> 
                   <div class="contain-box">
                     <div class="box mb-md-3 mb-xs-1 d-flex align-items-center justify-content-between p-md-2">
                        <h6>Order Total:</h6> <h6>{{totalPrice}}</h6>
                     </div>
                     <div class="box  mb-md-3 mb-xs-1 d-flex align-items-center justify-content-between p-md-2">
                        <h6>Promo Code:</h6>  <input  class="form-control form-control-sm" type="text" placeholder="Promo Code" aria-label=".form-control-sm example" style="width: 65%;font-size: 10px;">
                     </div>
                     <div class="box  mb-md-3 mb-xs-1 d-flex align-items-center justify-content-between p-md-2">
                        <h6>Shipping Charges:</h6> <h6>0.00</h6>
                     </div>
                     <div class="box  mb-md-3 mb-xs-1 d-flex align-items-center justify-content-between p-md-2">
                        <h6>Sub Total:</h6> <h6><h6>{{totalPrice}}</h6></h6>
                     </div>
                   </div>
                   <div class="btn-box d-flex align-items-center justify-content-end mt-4">
                    <button class="checkout" [disabled]="productslength == 0"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">CHECKOUT ITEMS</button>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="loading-overlay" *ngIf="isLoading">
  <div class="loading-spinner"> <img src="/assets/healthy-food.gif"  class="img-fluid loadimg"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="min-height: 70vh;">
      <div class="modal-body">
          
        <div class="btn-box d-flex align-items-center justify-content-end  my-2">
            <button type="button" class="close btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div>
            <input class="form-control form-control-sm mb-3" required type="text" placeholder="Name *" aria-label=".form-control-sm example">
            <input class="form-control form-control-sm mb-3" required type="text" placeholder="Phone No *"   aria-label=".form-control-sm example">
            <input class="form-control form-control-sm mb-3" type="text" placeholder="Alternative Phone No" aria-label=".form-control-sm example">
            <textarea class="form-control mb-3"placeholder="Address *" required rows="3"></textarea>
            <input class="form-control form-control-sm mb-3" type="text" placeholder="Land Mark" aria-label=".form-control-sm example">
            <div class="box d-flex align-items-center justify-content-between flex-wrap">
              <input class="form-control form-control-sm mb-3" required type="text" placeholder="City *" aria-label=".form-control-sm example" style="width: 48%;">
              <input class="form-control form-control-sm mb-3" required type="text mx-1" placeholder="Pincode *" aria-label=".form-control-sm example" style="width: 48%;">
              <input class="form-control form-control-sm mb-3" required type="text" placeholder="State *" aria-label=".form-control-sm example" style="width: 48%;">
              <input class="form-control form-control-sm mb-3" required type="text" placeholder="Country *" aria-label=".form-control-sm example" style="width: 48%;">
            </div>


       
      </div>
    </div>
  </div>
</div>


  