.titel1{
    line-height: 12px !important;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5 !important;
  }
  
.loadimg{
    width: 80px !important;
}
.card-img{
    width: 50px !important;
}  

img{
    width: 120px !important;
    height: 120px !important;
}
h6{
    font-size: 14px !important;
}

.btn-dark{
    border-radius: 40px !important;
}

span{
    font-size: 12px !important;
    line-height: 2px !important;
}

.text-12{
    font-size: 12px !important;
}
table th ,td{
    font-size: 10px !important;
}
h5 span{
    font-size: 13px !important;
}

.Pdf{
    background-color: #eb3b5a !important;
    padding: 8px !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;

}