<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 img-box-5" id="contact">
        <div class="text-content p-4 " style="width: 24rem;" *ngIf="!service.isEmailSent()">
          <h3 class="mb-4">Forgot Password</h3>
          <div class="mb-4">
            <input type="text" [(ngModel)]="Email" (blur)="OnBlurUserEmail($event)" class="form-control contact-input" placeholder="Email Address">
          </div>
          <button class="btn1 mb-2" (click)="GetOTP($event)">Get OTP</button>
          <div class="">
            <button>Go to Home Page</button>    
        </div>
        </div>
        <div class="text-content p-4 " style="width: 24rem;" *ngIf="service.isEmailSent()">
            <h3 class="mb-4">Forgot Password</h3>
            <div class="mb-4">
              <input type="text" [(ngModel)]="OTPNumber" maxlength="4" (blur)="OnBlurOTP($event)" class="form-control contact-input" placeholder="OTP Number">
            </div>
            <div class="mb-4" *ngIf="isGetOtp">
                <input type="text" [(ngModel)]="UserPassword" (blur)="OnBlurPhoneNumber($event)" minlength="4"  class="form-control contact-input" placeholder="Password">  
            </div>
            <div class="mb-4" *ngIf="isGetOtp">
                <input type="text" [(ngModel)]="ConPassword" (blur)="OnBlurConfrim($event)"    class="form-control contact-input" placeholder="Confrim Password">
            </div>
            <button class="btn1 mb-2" [disabled]="!isGetOtp" (click)="UpdatePassword($event)">sumbit</button>
            <div class="">
              <button (click)="home()">Go to Home Page</button>    
          </div>
          </div>
      </div>
    </div>
</div>